
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
@font-face {
   font-family: ProximaNova;
   src: url(ProximaNovaBold.otf);
}
/*change bootstrap default*/

[class^=" col-"],[class^="col-"],.container {
    padding-left: 12px;
    padding-right: 12px;
}
.row {
    margin-right: -12px;
    margin-left: -12px;
}
.navigation{
    min-width: 720px;
    width: 100%;
}
.nav-item{
    margin-right: 20px;
}

@media screen and (min-width: 1260px){
    .container {
        width: 1224px;
    }
}

@media screen and (max-width: 1260px){
    .container {
        width: 100%;
    }
}

/*@media screen and (max-width: 600px){
    .important.col-xs-*{
      width: 100%;
    }
}*/

/*top header and Property image*/

/*.arrowDown{
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #495662;
    position: relative;
    top:-2px;
}*/

.arrows{
    position: absolute;
    top:45%;
    width:50px;
}


.bell{
    width: 20px;
    position:relative;
}
@media screen and (max-width: 768px){
    .floatingNav{
        padding: 10px 2.5% 0px 2.5%;
        position: fixed;
        top: 0px;
        background-color: #fff;
        left: 0;
        z-index: 100;
        width: 100%;
    }
}
.floatingNav{
    position: fixed;
    top: 0px;
    background-color: #fff;
    left: 0;
    padding: 10px 3.5% 0px 3.5%;
    z-index: 100;
    width: 100%;
}

.floating-btn{
    position: fixed;
    bottom: 0px;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    left: 0px;
    padding: 10px 15%;
    margin: auto;
}

.headText{
    opacity: 0.87;
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.7px;
    color: #495662;
}
.inline-block{
    display: inline-block;
}
.left-arrow{
    left:5%;
}

.navbar-toggler-icon{
    width:1em;
}

.navbar-light .navbar-toggler {
    border:none;
    padding: 0rem 0.75rem;
}
.propertyImage{
    height: 31vw;
    width: 100%;
    text-align: center;
    background-image: url(assets/banner-image1.png);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 768px){
    .propertyImage{
        min-height: 450px;
        background-size: cover;
    }

}
.propertyHead{
    background-color: #fff;
}
.relative{
    position: relative;
}
.right-arrow{
    right:5%;
    transform: rotate(180deg);
}

.searchBox{
    width: 45%;
    height: 32px;
    margin-top: 14px;
    border-radius: 2px;
    background-color: #f0f0f0;
    display: inline-block;
}

@media screen and (max-width: 768px){
    .searchBox{
        width: 80%;
    }
}

.searchIcon{
    margin:7px 15px;
    font-size: 16px;
    color: #495662;
    opacity: 0.5;
}
.searchInput{
    background-color: #f0f0f0;
    width: 85%;
    border: 0px;
    opacity: 0.54;
    font-family: Roboto;
    font-size: 14px;
    margin-bottom:13px; 
    outline: none;
}

@media screen and (max-width: 500px){
    .searchInput{
        width: 70%;
    }
}

.tabContainer{
    float: right;
    padding-top: 15px;
}

.topBar{
    background-color: #fff; 
    height: 62px;
    padding: 0px 12px;
}
.topNavBar{
    float: right;
}

.topNavBar.navbar{
    padding: .9rem 0rem;
}

@media screen and (max-width:768px){
    .topNavBar{
        float: left;
    }
}
.userImage{
    width: 32px;
    height: 32px;
    margin-right: 15px;
}

.zolo-logo{
    margin: 15px 22px 17px 22px;
    vertical-align: top;
}

@media screen and (max-width: 960px){
    .zolo-logo{
        display: none;
    }
}

/*sub header - Property Name and desc*/

.container.nav{
    overflow-x: scroll;
    white-space: nowrap;
    overflow: scroll;
    margin-top: 60px;
}
.blue-text{
    color:#00a3e0;
    opacity: 0.8;
    font-family: Roboto;
    font-size: 14px;
}
.bookNow{
    background-color: #009688;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
}
.buttons{
    width: 45%;
    min-height: 40px;
    border-radius: 2px;
    text-align: center;
    opacity: 0.8;
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}
.mrgBtm10px{margin-bottom: 10px;}
.mrgBtm20px{margin-bottom: 20px;}
.mrgBtm60px{margin-bottom: 60px;}
.mrgLt20px{margin-left: 20px;}
.mrgRt45px{margin-right: 7%;}
.mrgRt60px{margin-right: 4%;}
.mrgRt3per{margin-right: 3%;}
.mrgRt20px{margin-right: 20px;}
.mrgTop10px{margin-top: 10px;}
.mrgTop16px{margin-top: 16px;}
.mrgTop20px{margin-top: 20px;}
.mrgTop22px{margin-top: 22px;}
.mrgTop30px{margin-top: 30px;}
.mrgTop40px{margin-top: 40px;}
.mrgTop50px{margin-top: 50px;}


.custom>div>a{
    text-decoration: none;
    opacity: 0.8;
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: bold;
    color: #07202a;
}
.custom>div>a:hover,.custom>div>a:focus{
    color: #00a3e0;
}
.custom>div{

    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
}
.custom>div:focus, .custom>div:hover {
    text-decoration: none;
    border-bottom: 2px solid #00a3e0;
}
.custom{
    width:100%;
    text-align: center;
}
@media screen and (min-width: 720px){
    .custom>.col-sm-2{
        margin-right: 3%;
    }    
}

.no-padding{
    padding: 0px;
}
.padBtm20px{padding-bottom: 20px;}
.padLt12px{padding-left: 12px;}
.padLt20px{padding-left: 20px;}
.padTop10px{padding-top: 10px;}
.padTop20px{padding-top: 20px;}
.padTop30px{padding-top: 30px;}
.padTop40px{padding-top: 40px;}
.custom.nav>li>a{padding-left: 10px;}
.propertyAddress{
    opacity: 0.87;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #07202a;
}
.propertyName{
    opacity: 0.8;
    font-family: ProximaNova;
    font-size: 36px;
    font-weight: bold;
    color: #07202a;
}
.scheduleVisit{
    border: solid 1px #00202c;
    text-align: center;
    color: #07202a;
    margin-right: 20px;
}

.subHead{
    background-color: #fff;
    padding: 0px 30px;
}

/* property description and details */

.discount-icon{
    width: 100%;
    max-width: 100px;
}
@media screen and (max-width: 575px){
    .discount-icon{
        margin-bottom: 10px;
    }
}
.cardHead{
    opacity: 0.8;
    font-family: ProximaNova;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.description{
    text-align: justify;
}
.greenBold{
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    color: #409287;
}
.propertyContent{
    background-color: #e4e7e7;
    padding-top: 24px;
}
.offer{
    background-color: #ffffff;
    margin-bottom: 24px;
    border-left: 5px solid #009688;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding:25px 15px;
}
@media screen and (max-width: 575px){
    .offer{
        text-align: center;
    }
}
.cardBoldContent{
    opacity: 0.8;
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: bold;
}
.cardContent{
    opacity: 0.6;
    font-family: Roboto;
    font-size: 14px;
}
.clear{
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}

.riskFree{
    background-color: #fff;
    margin-bottom: 24px;
    padding: 15px;
}
.riskFree.pad25px{padding:25px 15px;}
.riskFreeImage{
    width: 100%;
    margin-bottom: 25px;
}

.room-type-image{
    width: 100%;
    min-height: 135px;
    min-width: 175px;
    max-height:175px;
    max-width: 250px;
}
.card{
    background-color: #ffffff;
    margin-bottom: 24px;
    padding: 25px 15px;
}
.customerImage{
    vertical-align: text-bottom;
    margin-right: 20px;
    width:60px;
}
.postedDate{
    opacity: 0.6;
    font-family: Roboto;
    font-size: 12px;
}


.sharingBtn{
    width: 17%;
    min-width: 100px;
    height: 35px;
    border-radius: 100px;
    border: solid 2px #00202c;
    display: inline-block;
    margin-right: 4%;
    margin-top: 12px;
    padding: 6px;
    text-align: center;
    opacity: 0.8;
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: bold;
    color: #07202a;
}
@media screen and (max-width: 575px){
    .card.room-type{
        text-align: center;
    }
    .sharingBtn{
        margin: auto;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .room-type-image{
        margin-bottom: 10px;
    }
    .interest-btn{
        margin: auto;
        margin-top: 16px;
    }
    .day-type{
        text-align: center;
    }
    .container.nav{
        margin-top: 20px;
    }
    .floating-btn{
        padding: 10px 5%;
    }
}
.sharingBtn.selected{
    border: solid 2px #00a3e0;
    color: #ffffff;
    background-color: #00a3e0
}
.similar-prop-img{
    width:100%;
    border:2px solid #00a3e0;
}
.stars{
    min-width: 150px;
}
.table-head{
    padding: 12px 10%;
    background-color: #e4e7e7;
    color: #07202a;
    font-size: 14px;
    font-weight: bold;
    overflow: auto;
}
.table-body{
    padding: 12px 10%;
    background-color: #f9f9f9;
    color: #999;
    font-size: 14px;
    overflow: auto;
}
.text-center{
    text-align: center;
}


